/*SUBSCRIPTION PAGE*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      
    }
    html, body {
    width: 100%;
    height: 100%;
    }
    html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: rgba(255, 255, 255, 0.815);
    }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr none;
    grid-template-rows: 16% 100% 11%;
    grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
  }
  /*HEADER*/
  .header { 
    grid-area: header;
    background-color: rgb(168, 54, 54);
    padding: 0.4%;
   }
   img {
    display: block;
    margin: 1rem auto;
    max-width: 15%;
    justify-content: center;
   
  }



  /*CONTENT*/
   .content { 
     grid-area: content; 
     background-color: rgba(138, 195, 218, 0.801);
   }


   /*subscription form*/
   /*progress bar*/
   .step-progress {
    width: 250px;
    height: 35px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: center;
  }
  .step-progress > div {
    display: flex;
  }
  .step-progress .bar {
    background: lightgrey;
    height: 5px;
    width: 75px;
  }
  .step-progress .num {
    height: 25px;
    width: 35px;
    background: lightgrey;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
  
  .step-progress .done .num, .step-progress .done .bar {
    background: lightgreen;
  }
 


/*form styles*/
  form#myForm {
    width: 700px;
    height: 400px;
    margin: auto;
    padding: 10px;
    
  }
  
  .step {
    opacity: 0;
    flex-direction: column;
    position: absolute;
  }
  .step .form-inputs {
    background: rgb(255, 255, 255);
    padding: 8px;

}
  .step input {
    height: 25px;
    width: 300px;
    padding: 5px;
    margin-bottom: 15px;
  }
  .step .step-actions {
    display: flex;
    margin: auto;
    margin-top: 45px;
    width: 80%;
    height: 35px;
    justify-content: space-between;
  }
  .step .step-actions button {
    width: 20%;
    display: block;
    height: 35px;
  }
  .visible {
    display: flex;
    opacity: 1;
    position: relative;
  }

  

.subscribebutton { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card { 
  display: flex;
  flex-direction: row;
}



  



   /*FOOTER*/
   .footer { 
    grid-area:footer; 
    background-color:  rgba(223, 200, 0, 0.795);
  }
  
  

/*text*/
h1  {
  text-align: center; 
}

p {
  text-align: center;
  line-height: 40px;
}
h2 { 
padding: 10px;
text-align: center;
}



