* {
box-sizing: border-box;
margin: 0;
padding: 0;
  
}
html, body {
width: 100%;
height: 100%;
}
html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Dosis', sans-serif;
line-height: 1.6;
color: #666;
background: rgba(255, 255, 255, 0.815);
}
.grid-container {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 85% 1fr 1fr 1fr;
  grid-template-areas: "Header Header Header Header" "Image Image Image Image" "Content Content Content Content" "Content2 Content2 Content2 Content2" "Footer Footer Footer Footer";
}



/*Header*/
.Header { 
 grid-area: Header; 
 position: sticky;
 top: 0;
 background: rgba(112, 48, 48, 0.8)}
 
 img {
    display: block;
    margin: 1rem auto;
    max-width: 15%;
    justify-content: center;
  }
  .menu {
    margin: 1rem auto;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu a {
    display: inline-block;
    padding: 6px 8px;
    color: #aaa;
    border: 1px solid #aaa;
    text-decoration: none;
    margin: 0 5px;
  }
  .menu a:hover {
    background: rgba(0, 0, 0, 0.2);
  }



/*Image*/
.Image { 
 grid-area: Image; 
 background: url('img/Filmyellow.jpg');
 background-size: 100%;
 background-position: center center;
}
.arrow {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}


 /*Content*/
.Content { 
 grid-area: Content;
 background: rgba(138, 195, 218, 0.801);
 padding: 100px; 
}

 
 /*Content2*/
.Content2 { 
 grid-area: Content2; 
 background: rgba(241, 241, 241, 0.8);
 padding: 100px; 
}
.box { 
    margin: 1rem auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   } 
.box > div {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin: 5px 0;
}
  .box1 { 
    display: inline-block;
    padding: 6px 8px;
    border: 1px solid grey;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 40px; */
    
  
  }
  .box1:hover { 
    border-bottom: 2px solid royalblue;
  }
  
  .box img { 
    width: 50%;
    height: 50%;
    max-width: none;
    display: block;
    justify-content: center;
  }
  .subscribebutton {
    position: relative;
    display: block;
    margin: auto;
    background: #4ca9c5;
    color: #ffffff !important;
    font-weight: 100;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    transition: all 0.3s ease 0s;
    }
  .subscribebutton:hover {
    color: #ffe13a !important;
    /* font-weight: 1000 !important; */
    transform: scale(1.05);
    /* letter-spacing: 3px; */
    background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }





/*footer*/
.Footer { 
 grid-area: Footer; 
 background: rgba(223, 200, 0, 0.795);
 padding: 30px; 
}




/*text*/
h1  {
    text-align: center; 
}
  
  p {
    text-align: center;
    line-height: 40px;
}
h2 { 
  padding: 10px;
  text-align: center;
}
  




